body {
    background-color: #fbf9f9;
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
  }
  canvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
  }